<div *ngIf="test != null && questions != undefined" class="test-block">
    <div *ngFor="let letter of test.letterResponses; index as i" class="test" [@enter]>
        <div class="p-3 border bg-light">
            <div class="info">
                <div class="translate-bar">
                    <!-- <div *ngIf="letter.word">{{letter.word}}</div> -->
                    <input placeholder="word" [(ngModel)]="letter.word" class="form-control" [disabled]="questions[i]" />
                    <span> — </span>
                    <input placeholder="translate" [(ngModel)]="letter.translate" class="form-control" [disabled]="!questions[i]" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <span>{{msg}}</span>
    </div>
    <div class="text-center">
        <button (click)="finish()" class="btn btn-primary ">Finish test</button>
    </div>
</div>
<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>